body{ font-family: "Fuente c4";
    margin: 0%;
    }
    @font-face {
        font-family: Fuente c4;
        src: url(../fuente/Eveleth\ Clean\ Regular.otf);
    }
    h1{font-size: 3.0em;}
    h2{font-size: 1.7em;}
    h3{font-size: 1.1em;}
    h4{font-size: 0.8em; text-decoration: underline;}
    p{font-size: 1.0em;}
    a{font-family: "Fuente c4";
        font-size: 0.8rem;
    }
    header{background-color: #F2F2F2;
        width: 100%;
        height: 70px;
    }
    header a{ padding: 5px 19px;
    font-weight: bold;
    color: #8C164D;
    text-decoration: none;
    
     }
        .somosc4{
            margin: 0%;
            padding: 0%;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            justify-content: space-between;
            align-items: center;  
            width: 100%
        }
        .somosc4__logo{ margin: 0%;
        padding: 4px 20px;
       font-weight: bold;
       font-size: 30px;
       align-items: center;
       justify-content: center;
       height: 60px;
       width: 60px;
        }
.contenedor{
display: grid;
grid-template-columns: 9fr 9fr 9fr;
grid-template-rows: 8fr 3fr 1fr 4fr 5fr;
grid-column-gap: 10px;
background-color: #260E17;
color: #F2F2F2;
padding:0;
width: 100%;
grid-template-areas: "banner banner banner"
"parrafo parrafo parrafo"
"digital rollo lonas "
"parrafo2 parrafo3 parrafo4 "
"imagen2 imagen3 imagen4 "
;}

.banner{grid-area: banner;
display: flex;
justify-content: center;
align-items: center;
background-image:url(../imagenes/mimakicorte.jpg);
}
.banner h1{background-color:#260e17bd;
    border-radius: 10px;
    padding: 10px;
    color:#F2F2F2;
}
.parrafo{grid-area: parrafo;
font-size: 1.5em;
display: flex;
align-items: center;
justify-content: center;
padding: 20px;
background-color: #F2F2F2;
color: #8C164D;
}
.digital{grid-area: digital;
display: flex;
justify-content: center;
align-items: center;
background-color: #8C164D;
color:black;
font-size: 1.7em;
}
.parrafo2{grid-area: parrafo2;display: flex;
    justify-content: center;
    align-items: center;
    background-color: #260E17;
color: #F2F2F2;
padding: 10px;
}
.rollo{grid-area: rollo;display: flex;
    justify-content: center;
    align-items: center;background-color: #8C164D;
    color:black;;font-size: 1.7em;}
.parrafo3{grid-area: parrafo3;display: flex;
    justify-content: center;
    align-items: center;
    background-color: #260E17;
    color: #F2F2F2;
    padding: 10px;
}
.lonas{grid-area: lonas;display: flex;
    justify-content: center;
    align-items: center;background-color:#8C164D;
    color:black;;font-size: 1.7em;}
.parrafo4{grid-area: parrafo4;display: flex;
    justify-content: center;
    align-items: center;background-color: #260E17;
    color: #F2F2F2;
padding: 10px;
}
.imagen2{grid-area: imagen2; background-image: url(../imagenes/digital2.jpg);}
.imagen3{grid-area: imagen3;background-image: url(../imagenes/rollo1.jpg);}
.imagen4{grid-area: imagen4;
background-image: url(../imagenes/lona5.jpg);}

#abajo{background-color: #260E17;
    width: 100%;
    height: 150px;}
 .pie{
            color: #F2F2F2;
            display: flex;
            justify-content: space-around;
            }
            .pie__direccion{
                flex-direction: column;
                text-align: center;
            }
            .pie__horario
            {text-align: center;
            }
            .pie__tel{
                text-align: center;
            }
            .pie__mail{
                text-align: center;
            }
        .copy{color: #8C164D;
    display: flex;
    justify-content: center;
    font-size: 1.2em;}
    