body{ font-family: "Fuente c4";
    margin: 0%;
    }
    @font-face {
        font-family: Fuente c4;
        src: url(../fuente/Eveleth\ Clean\ Regular.otf);
    }
    h1{font-size: 3.0em;}
    h2{font-size: 1.7em;}
    h3{font-size: 1.1em;}
    h4{font-size: 0.8em; color:rgb(224, 11, 189); text-decoration: underline;}
    p{font-size: 1.0em;}
    a{font-family: "Fuente c4";
        font-size: 0.8rem;
    }
    header{background-color: rgb(220,220,220);
        position: fixed;
        width: 100%;
        height: 70px;
    }
    header a{ padding: 5px 19px;
    font-weight: bold;
    color: rgb(224, 11, 189);
    text-decoration: none;
    
     }
        .somosc4{
            margin: 0%;
            padding: 0%;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            justify-content: space-between;
            align-items: center;  
            width: 100%
        }
        .somosc4__logo{ margin: 0%;
        padding: 4px 20px;
       font-weight: bold;
       font-size: 30px;
       align-items: center;
       justify-content: center;
       height: 60px;
       width: 60px;
        }
.contenedor{
display: grid;
grid-template-columns: 9fr 9fr 9fr;
grid-template-rows: 8fr 3fr 1fr 4fr 5fr;
grid-column-gap: 10px;
background-color: black;
color: white;
padding:0;
width: 100%;
grid-template-areas: "banner banner banner"
"parrafo parrafo parrafo"
"digital rollo lonas "
"parrafo2 parrafo3 parrafo4 "
"imagen2 imagen3 imagen4 "
;}

.banner{grid-area: banner;
display: flex;
justify-content: center;
align-items: center;
background-image:url(../imagenes/mimakicorte.jpg);
}
.banner h1{background-color: rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    padding: 10px;
}
.parrafo{grid-area: parrafo;
font-size: 1.5em;
display: flex;
align-items: center;
justify-content: center;
padding: 20px;
background-color: black;
color: rgba(255, 255, 255, 0.863);
}
.digital{grid-area: digital;
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(224, 11, 189);;
color:black;
font-size: 1.7em;
}
.parrafo2{grid-area: parrafo2;display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.863);
color: white;
padding: 10px;
}
.rollo{grid-area: rollo;display: flex;
    justify-content: center;
    align-items: center;background-color: rgb(224, 11, 189);;
    color:black;;font-size: 1.7em;}
.parrafo3{grid-area: parrafo3;display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
}
.lonas{grid-area: lonas;display: flex;
    justify-content: center;
    align-items: center;background-color: rgb(224, 11, 189);;
    color:black;;font-size: 1.7em;}
.parrafo4{grid-area: parrafo4;display: flex;
    justify-content: center;
    align-items: center;background-color: rgba(0, 0, 0, 0.863);
    color: white;
padding: 10px;
}
.imagen2{grid-area: imagen2; background-image: url(../imagenes/digital2.jpg);}
.imagen3{grid-area: imagen3;background-image: url(../imagenes/rollo1.jpg);}
.imagen4{grid-area: imagen4;
background-image: url(../imagenes/lona5.jpg);}

#abajo{background-color: rgb(0, 0, 0);
    width: 100%;
    height: 150px;}
 .pie{
            color: white;
            display: flex;
            justify-content: space-around;
            }
            .pie__direccion{
                flex-direction: column;
                text-align: center;
            }
            .pie__horario
            {text-align: center;
            }
            .pie__tel{
                text-align: center;
            }
            .pie__mail{
                text-align: center;
            }
        .copy{color: rgb(224, 11, 189);
    display: flex;
    justify-content: center;
    font-size: 1.2em;}
    /* TRANSICIONES CSS */
    .somosc4{transition-property: all;}
    .somosc4__logo:hover{width:100px;height: 90px;
    background-color:rgba(224, 11, 188, 0.747);
    padding: 70px 10px 10px 10px;}
    .contenedor{transition: all 1s;
        transition-timing-function: ease;}
        .banner h1:hover{height: 70px;
            padding: 3px 3px 3px 1px;
        background-color: rgba(212, 240, 240, 0.63);}
        /* ANIMACIONES */
        .parrafo{animation-name: parrafo1;
        animation-duration: 1s;
    animation-delay: 0.1s;
animation-timing-function: ease;}
@keyframes parrafo1{
100%{width: 1900px; height: 140px;
background-color: rgba(212, 240, 240, 0.63);}
}
/* TRANSFORMACIONES */
.imagen2{transition:all 1s;}
.imagen2:hover{transform: scale(1.1) translateY(-40px)  }
.imagen3{transition:all 1s;}
.imagen3:hover{transform: scale(1.1) translateY(-40px)  }
.imagen4{transition:all 1s;}
.imagen4:hover{transform: scale(1.1) translateY(-40px)  }