body{ font-family: "Fuente c4";
    margin: 0%;
    }
    @font-face {
        font-family: Fuente c4;
        src: url(../fuente/Eveleth\ Clean\ Regular.otf);
    }
    h1{font-size: 3.0em;}
    h2{font-size: 1.7em;}
    h3{font-size: 1.1em;}
    h4{font-size: 0.8em; color:rgb(224, 11, 189); text-decoration: underline;}
    p{font-size: 0.8em;}
    a{font-family: "Fuente c4";
        font-size: 0.8rem;
    }
    header{background-color: rgb(220,220,220);
        position: fixed;
        width: 100%;
        height: 70px;
    }
    header a{ padding: 5px 19px;
        font-weight: bold;
        color: rgb(224, 11, 189);
        text-decoration: none;}
 .somosc4{
        margin: 0%;
        padding: 0%;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        justify-content: space-between;
        align-items: center;  
    }
    .somosc4__logo{ margin: 0%;
    padding: 4px 20px;
   font-weight: bold;
   font-size: 30px;
   align-items: center;
   justify-content: center;
   height: 60px;
   width: 60px;
    }
    #info{
        display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 750px;
    width: 100%;
    background-image:url(../imagenes/minolta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }
    .info__titulo{color: white;
    background-color: rgba(0, 0, 0, 0.61);
border-radius: 20px;
}
    .info__texto{
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 20px;
    color: white;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    width: 70%;
    }
    .caja {display: grid;
    width: 100%px;
    height: 220px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: "vision metas valores "
    "vision metas valores"
    "vision metas valores";
    text-align: center;
    background-color: rgb(224, 11, 189);
    }
    .vision{
        grid-area: vision;
        height: 200px;
    }
    .metas{grid-area: metas;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .valores{grid-area: valores;
    }
    #abajo{background-color: rgb(0, 0, 0);
        width: 100%;
        height: 150px;
    }
    .pie{
        color: white;
        display: flex;
        justify-content: space-around
        }
        .pie__direccion{
            flex-direction: column;
            text-align: center;
        }
        .pie__horario
        {text-align: center;
        }
        .pie__tel{
            text-align: center;
        }
        .pie__mail{
            text-align: center;
        }
    .copy{
        color: rgb(224, 11, 189);
    display: flex;
justify-content: center;
font-size: 1.0em;}

/* TRANSICIONES CSS */
.somosc4{transition: all 2sg;
    transition-timing-function:ease;}
    .somosc4__logo:hover{width:100px;height: 90px;
    background-color:rgba(224, 11, 188, 0.747);
    padding: 70px 10px 10px 10px;}
    .info{transition: all 1s;
        transition-timing-function: ease;
        }
        .info__titulo:hover{width: 100%;
        background-color: rgba(212, 240, 240, 0.63);}
        .info__texto:hover{width: 80%;
            background-color: rgba(212, 240, 240, 0.63);}
            .lista:hover{width: 17%;
                background-color: #d4f0f0a1;}
    .caja{transition: all 2sg;
        transition-timing-function: ease-out;}
.vision:hover{height: 220px;
background-color: antiquewhite;
}
.metas:hover{height: 220px;
    background-color:rgb(220,220,220)}
    .valores:hover{height: 220px;
        background-color: rgb(220,220,220)}
        .somosc4__titulo:hover{
            height: 60px; width: 2000px;
        background-color:rgb(220,220,220) ;
    border-radius: 10px;}
        .medium{transition-property: all;
            transition-duration: 1s;
            transition-delay: 0s;
            transition-timing-function: ease-in-out;}