.contenedor{
    height: 2050px;
    width: 1000px;
    margin: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". banner . ."
    ". . . ."
    ". . . .";
    border: 13px solid red;
    background-color: black;
    ;
}
.banner{grid-area: banner;
border: 12px solid blue;
}