.somosc4__logo:hover {
  transform: scale(1.5);
  transition: all 2s;
  height: 46px;
  width: 46px;
  background-color: #8c164d;
}
header a:hover {
  color: #da116e;
}
.banner__titulo:hover {
  transform: translate(20.5%);
  background: #8c164d;
  transition: all 5s;
  width: 100%;
  display: flex;
  text-align: center;
}
.banner__subtitulo:hover {
  transform: translate(100%);

  background: #8c164d93;
  transition: all 3s;
  width: 80%;
  transform: translate(10%);
}
.lista:hover {
  transform: scale(1.1);
  transition: all 2s;
}
.banner__boton:hover {
  transform: scale(1.5);
  transition: all 1s;
  background: #260e17;
}
.medium:hover h2 {
  transform: translate(100%);
  background: #8c164d;
  transition: all 3s;
  width: 35%;
  color: #f2f2f2;
}
.dunlop:hover {
  transform: translate(1%);
  width: 20%;
}
.fox:hover {
  transform: translate(1%);
  width: 20%;
}
.natura:hover {
  transform: translate(1%);
  width: 17%;
}
.leatt:hover {
  transform: translate(1%);
  width: 20%;
}
