.pie {
  color: #f2f2f2;
  width: 100%;

  .pie__copy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    padding: 1%;
    font-size: 0.7em;
    font-weight: bold;
  }
}
