@font-face {
  font-family: Fuente c4;
  src: url(../fuente/Eveleth\ Clean\ Regular.otf);
}
$fontc4: Fuentec4;
$colorprimario: #260e17;
$colorsecundario: #8c164d;
$fontgrande: 3em;
$fontgrande2: 1.7em;
$fontmediana: 1.1em;
$fontchica: 1em;
$fontparrafo: 1em;
$fonta: 0.8rem;
